{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}

<h3>{{ __('accounts') }}</h3>

<table style="width: 100%">
    <thead>
      <tr>
        <th align="left">{{ __('accounts_email') }}</th>
        <th align="left">{{ __('accounts_registered_at') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for account in accounts %}
      <tr>
        <td><a href="{{ path_for('accounts.profile', {'email':  account.email}) }}">{{ account.email }}</a></td>
        <td>{{ account.registered_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
