{% extends 'themes/' ~ registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}

<h3>Profile</h3>

<table>
    {% for key, value in profile %}
    <tr>
        <td>
            {{ __('accounts_' ~ key) }}: {{ value }}
        </td>
    </tr>
    {% endfor %}
</table>

<a class="dropdown__item" href="javascript:;" onclick="event.preventDefault();
        document.getElementById('accountsLogoutProcess').submit();">
    {{ tr('admin_logout') }}</a>
<form id="accountsLogoutProcess" action="{{ path_for('accounts.logoutProcess') }}" method="POST" style="display: none;">
    {{ csrf() }}
</form>

{% endblock %}
